%h2 Blog

%table
  %thead
    %tr
      %th Title
      %th Caption
      %th Description
      %th User
      %th{:colspan => "4"}
  %tbody
    %tr
      %td= @blog.title
      %td= @blog.caption
      %td= @blog.description
      %td= @blog.user.email
